.sap-text-xxs {
  font-family: DM Sans;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75rem;
  /* 120% */
}

.sap-text-xs {
  font-family: DM Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sap-text-xs-1-25 {
  font-family: DM Sans;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.sap-text-sm {
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 142.857% */
}

.sap-text-sm-normal {
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* 142.857% */
}

.sap-text-sm-2 {
  font-family: 'DM Sans';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  /* 228.571% */
}

.sap-text-md-1-25 {
  font-family: 'DM Sans';
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  /* 150% */
}

.sap-text-md-1-375 {
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  /* 137.5% */
}

.sap-text-md {
  font-family: 'DM Sans';
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  /* 150% */
}

.sap-text-md-regular {
  font-family: 'DM Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  /* 150% */
}

.sap-text-md-regular-1-25 {
  font-family: 'DM Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  /* 150% */
}

.sap-text-md-regular-1-375 {
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  /* 137.5% */
}

.sap-text-md-bold {
  font-family: 'DM Sans';
  font-size: 1rem;
  font-style: normal;
  line-height: 1.5rem;
  /* 150% */
}

.sap-text-lg {
  font-family: 'DM Sans';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sap-text-xl-regular {
  font-family: 'DM Sans';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  /* 133.333% */
}

.sap-text-xl-bold {
  font-family: 'DM Sans';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}